
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}{% endblock %}
        </title>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}admin/css/base.css" />
		<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
		<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->
        </head>
    <body class="login">

	<!-- Container -->
	<div id="container">

	    
	    <!-- Header -->
	    <div id="header">
	        <div id="branding">
	          <h1 id="site-name">My Blog</h1>
	        </div>
	    </div>
	    <!-- END Header -->

	    <!-- Content -->
	    <div id="content" class="colMS">
	      <div id="content-main">
	        
	            {% block content %}
	            {% endblock %}
        	</div>
	        <br class="clear" />
	    </div>
	    <!-- END Content -->

	    <div id="footer"></div>
	</div>
	<!-- END Container -->
	</body>
</html>

